@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-display: 'Fira Code', 'sans-serif';

  /* Custom colors */
  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
}

:root {
  --background: #0f172b;
  --foreground: #90a1b9;
  --primary: #ffb86a;
  --primary-foreground: #f8fafc;
  --border: #314158;
  --ring: #cad5e2;
}

.dark {
  --background: #0f172b;
  --foreground: #90a1b9;
  --primary: #ffb86a;
  --primary-foreground: #f8fafc;
  --border: #314158;
  --ring: #cad5e2;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-6xl leading-[66px];
  }

  h2 {
    @apply text-5xl leading-[57.6px];
  }

  h3 {
    @apply text-4xl leading-[46.8px];
  }

  h4 {
    @apply text-3xl leading-[42px];
  }

  h5 {
    @apply text-2xl leading-[33.6px];
  }

  h6 {
    @apply text-xl leading-[30px];
  }

  p {
    @apply text-base leading-[24px];
  }
}

@layer utilities {
  .p-small {
    @apply text-sm leading-[19.6px];
  }

  .p-large {
    @apply text-lg leading-[27px];
  }
}
