@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-display: 'Fira Code', 'sans-serif';

  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);

  --text-*: initial;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;

  --leading-*: initial;
  --leading-sm: 19.6px;
  --leading-base: 24px;
  --leading-lg: 27px;
  --leading-xl: 30px;
  --leading-2xl: 33.6px;
  --leading-3xl: 42px;
  --leading-4xl: 46.8px;
  --leading-5xl: 57.6px;
  --leading-6xl: 66px;
}

:root {
  --background: #0f172b;
  --foreground: #90a1b9;
  --primary: #ffb86a;
  --primary-foreground: #f8fafc;
  --border: #314158;
  --ring: #cad5e2;
}

.dark {
  --background: #0f172b;
  --foreground: #90a1b9;
  --primary: #ffb86a;
  --primary-foreground: #f8fafc;
  --border: #314158;
  --ring: #cad5e2;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    font-size: var(--text-6xl);
    line-height: var(--leading-6xl);
  }

  h2 {
    font-size: var(--text-5xl);
    line-height: var(--leading-5xl);
  }

  h3 {
    font-size: var(--text-4xl);
    line-height: var(--leading-4xl);
  }

  h4 {
    font-size: var(--text-3xl);
    line-height: var(--leading-3xl);
  }

  h5 {
    font-size: var(--text-2xl);
    line-height: var(--leading-2xl);
  }

  h6 {
    font-size: var(--text-xl);
    line-height: var(--leading-xl);
  }

  p {
    font-size: var(--text-base);
    line-height: var(--leading-base);
  }
}

@layer utilities {
  .text-6xl {
    font-size: var(--text-6xl);
    line-height: var(--leading-6xl);
  }

  .text-5xl {
    font-size: var(--text-5xl);
    line-height: var(--leading-5xl);
  }

  .text-4xl {
    font-size: var(--text-4xl);
    line-height: var(--leading-4xl);
  }

  .text-3xl {
    font-size: var(--text-3xl);
    line-height: var(--leading-3xl);
  }

  .text-2xl {
    font-size: var(--text-2xl);
    line-height: var(--leading-2xl);
  }

  .text-xl {
    font-size: var(--text-xl);
    line-height: var(--leading-xl);
  }

  .text-lg {
    font-size: var(--text-lg);
    line-height: var(--leading-lg);
  }

  .text-base {
    font-size: var(--text-base);
    line-height: var(--leading-base);
  }

  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--leading-sm);
  }
}
